title{
  display: none;
}
table{
  font-size: 31px;
}
pre{
  font-size: 25px;
  font: arial;
}
body{
  background: #ffffff url("fox.png") no-repeat 300px 70px;
    margin-right: 200px;
  background-attachment: fixed;
background-size: auto;
}
img{

}
pre{
  font-family: "Comic Sans MS", cursive, sans-serif
}

#encabezado{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 35px;
}
